@model LojaLegos.Models.Armazem

@{
    ViewData["Title"] = "Delete";
}
<div style="width : 80% ; margin:auto; margin-top:40px;">
<h3>Tem a certeza que deseja eliminar este armazém?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Local:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            Responsável:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsavel.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
</div>
