@model LojaLegos.Models.Armazem

@{
    ViewData["Title"] = "Edit";
}
<div style="width : 80% ; margin:auto; margin-top:40px;">   

    <h3>Edição de Armazém</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Local" class="control-label"></label>
                    <input asp-for="Local" class="form-control" />
                    <span asp-validation-for="Local" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ResponsavelFK" class="control-label">ID do Responsável</label>
                    <select asp-for="ResponsavelFK" class="form-control" asp-items="ViewBag.ResponsavelFK"></select>
                    <span asp-validation-for="ResponsavelFK" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-primary">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </div>
