@model Encomenda

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    @if (Model.Estado == "pago")
                    {
                        <option value="pago">Pago</option>
                        <option value="preparado">Preparado</option>

                    }
                    else if(Model.Estado == "preparado")
                    {
                        <option value="preparado">Preparado</option>
                        <option value="expedido">Expedido</option>
                    }
                    else if (Model.Estado == "expedido")
                    {
                        <option value="expedido">Expedido</option>
                    }

                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteFK" class="control-label"></label>
                <select asp-for="ClienteFK" class="form-control" asp-items="ViewBag.ClienteFK"></select>
                <span asp-validation-for="ClienteFK" class="text-danger"></span>
            </div>
            <hr />
            <h4>Artigos Encomendados</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID do Artigo</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
               
                <tbody>
                    @foreach (var artigoEncomenda in Model.ArtigoEncomendas.Where(ae => ae.EncomendaId == Model.Id))
                        {
                            <tr>
                                <td>
                                    @artigoEncomenda.ArtigoId
                                    <input type="hidden" asp-for="@artigoEncomenda.ArtigoId" />
                                </td>
                                <td>
                                    <input asp-for="@artigoEncomenda.Quantidade" class="form-control" />
                                    <span asp-validation-for="@artigoEncomenda.Quantidade" class="text-danger"></span>
                                </td>
                            </tr>
                        }
                    
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>