@{
    ViewData["Title"] = "Pagamento";
}

<h1>Pagamento</h1>

<p>Confirme o pagamento para concluir a encomenda.</p>


    <button type="submit" onclick= "pagar()">Pagar</button>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function pagar() {
        $.ajax({
            url: '@Url.Action("Pagamento", "Encomendas")',
            type: 'POST',
            success: function(response) {
                // Exibe a mensagem de pagamento realizado com sucesso
                alert("O pagamento foi realizado com sucesso!");
            },
            error: function() {
                // Exibe a mensagem de erro ao realizar o pagamento
                alert("Ocorreu um erro ao realizar o pagamento.");
            }
        });
    }
</script>
